.presentation h1{
    text-align: center;
    font-family: sans-serif;
    color: white;
    background: rgb(101,134,185);
    border-radius: 3px;
}

body{
    font-size: 20px;
}

@media (min-device-width:320px) and (max-device-width:760px){
    body{
        font-size: 4em;
    }

    h4{
        text-align: center;
    }

    input{
        height: 50px;
        font-size: 0.8em;
    }
    .results, th, td{
        font-size: 0.8em !important;
    }
    input[type="submit"]{
        width: 100%;
        font-size: 0.5em;
    }

    .form-separator{
        width: 100% !important;
        margin: 0 !important;
    }

}

.presentation img{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
}

.ui-dialog .ui-dialog-titlebar{
    display: none !important;
}

.ui-dialog{
    background-color: rgb(101,134,185);
    border: 2px solid black;
    border-radius: 3px;
    font-family: sans-serif;
    color: white;
    width: 80% !important;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    background-color: rgb(81, 100, 185);
    border-radius: 4px;
}

.square{
    display: inline-block;
    border-radius: 3px;
}

.ui-dialog .confirm{
    width: 100% !important;
    font-size: 1em !important;
}

 h4{
    color: white;
    background-color: rgb(101,134,185);
    border-radius: 3px;
    font-family: sans-serif;
}

.form{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(101,134,185);
    border-radius: 3px;
    text-align: center;
    margin-bottom: 2em;
}

.idsearch label{
    font-family: sans-serif;
    font-weight: bold;
}

.idsearch input{
    width: 90%;
}
.form-separator{
    width: 80%;
    margin: 0 auto;
}

.results{
    border-radius: 4px;
    margin: 0 auto;
    width: 80%;
    border: 1;
    border-collapse: collapse;
}

.table-wrapper{
    overflow: auto;
}

.results, th, td{
    font-family: sans-serif;
    border: 1px solid white;
    background-color: rgb(101,134,185);
    font-size: 1.2em;
}
.results td a{
    padding: 1em;
    display: block;
}

.results tr:hover{
    background-color: #eeeeee;
}
