.presentation h1{
    text-align: center;
    font-family: sans-serif;
    color: white;
    background: rgb(101,134,185);
    border-radius: 3px;
}

.presentation img{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
}

 h4{
    color: white;
    background-color: rgb(101,134,185);
    border-radius: 3px;
    font-family: sans-serif;
}

.form{
    width: 80%;
    margin: 0 auto;
    background-color: rgb(101,134,185);
    border-radius: 3px;
    text-align: center;
    margin-bottom: 2em;
}

.idsearch label{
    font-family: sans-serif;
    font-weight: bold;
}

.idsearch input{
    width: 90%;
}
.form-separator{
    width: 80%;
    margin: 0 auto;
}

.results{
    border-radius: 4px;
    margin: 0 auto;
    width: 80%;
    border: 1;
    border-collapse: collapse;
}

.table-wrapper{
    overflow: auto;
}

.results, th, td{
    border: 1px solid #eeeeee
}

.results tr:hover{
    background-color: #eeeeee;
}
