<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title> Todo Pintura SL</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}" media="screen" title="no title">
    </head>
    <body>
        <div class="presentation">
            <h1>Todo Pintura</h1>
            <img src="{% static 'images/todopintura.jpg' %}" alt="Todo Pintura S.L." />

        </div>
        {% if consulta %}
        <h4>Resultados: </h4>
        <table class="results">
            <tr>
                <th>
                    Código
                </th>
                <th>
                    Artículo
                </th>
                <th>
                    PVP
                </th>
                <th>
                    Dto. L2
                </th>
                <th>
                    Neto
                </th>
                <th>
                    Dto. L4
                </th>
                <th>
                    Neto
                </th>
                <th>
                    Oferta
                </th>
                <th>
                    Neto
                </th>
                <th>
                    Oferta
                </th>
                <th>
                    Neto
                </th>
                <th>
                    Oferta
                </th>
                <th>
                    Neto
                </th>
            </tr>
            {% for resultado in consulta %}
            <tr>
                <td>
                    {{ resultado.article_id }}
                </td>
                <td>
                    {{ resultado.article_description }}
                </td>
                <td>
                    {{ resultado.article_PVP }}
                </td>
                <td>
                    {% if resultado.discount_l2 %}
                    {{ resultado.discount_l2 }}
                    {% else %}

                    {% endif %}
                </td>
                <td>
                    {% if resultado.net_l2 %}
                    {{ resultado.net_l2 }}
                    {% else %}

                    {% endif %}
                </td>
                <td>
                    {% if resultado.discount_l4%}
                    {{ resultado.discount_l4 }}
                    {% else %}
                    {% endif %}
                </td>
                <td>
                    {% if resultado.net_l4 %}
                    {{ resultado.net_l4 }}
                    {% else %}
                    {% endif %}
                </td>
                <td>
                    {% if resultado.offer_1%}
                    {{ resultado.offer_1 }}
                    {% else %}
                    {% endif %}
                </td>
                <td>
                    {% if resultado.net_1%}
                    {{ resultado.net_1 }}
                    {% else %}
                    {% endif %}
                </td>
                <td>
                    {% if resultado.offer_2 %}
                    {{ resultado.offer_2 }}
                    {% else %}
                    {% endif %}
                </td>
                <td>
                    {% if resultado.net_2 %}
                    {{ resultado.net_2 }}
                    {% else %}
                    {% endif %}
                </td>
                <td>
                    {% if resultado.offer_3 %}
                    {{ resultado.offer_3 }}
                    {% else %}
                    {% endif %}
                </td>
                <td>
                    {% if resultado.net_3 %}
                    {{ resultado.net_3 }}
                    {% else %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <h4>Buscador de artículos</h4>
        <div class="form-separator">
            <form class="form-id" action="{% url 'index' %}" method="get">
                <div class="idsearch">
                    <label for="id">Buscar por ID:</label><input type="text" name="id" value=""/>
                </div>
                <input class="send" type="submit" name="submit" value="Consultar">
            </form>
            <form class="form-description" action="{% url 'index' %}" method="get">
                <div class="descriptionsearch">
                    <label for="description">Buscar por descripción:</label><input type="text" name="description" value=""/>
                </div>
                <input class="send" type="submit" name="submit" value="Consultar">

            </form>
        </div>
    </body>
</html>
