<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title> Todo Pintura SL</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}" media="screen" title="no title">
    </head>
    <body>
        <div class="presentation">
            <h1>Todo Pintura</h1>
            <img src="{% static 'images/todopintura.jpg' %}" alt="Todo Pintura S.L." />

        </div>
        {% if consulta %}
        <h4>Resultados: </h4>
        <table class="results">
            <tr>
                <th>
                    ID del Artículo
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    PVP
                </th>
                <th>
                    Línea 1
                </th>
                <th>
                    Línea 2
                </th>
                <th>
                    Línea 3
                </th>
                <th>
                    Línea 4
                </th>
            </tr>
            {% for resultado in consulta %}
            <tr>
                <td>
                    {{ resultado.article_id }}
                </td>
                <td>
                    {{ resultado.article_description }}
                </td>
                <td>
                    {{ resultado.article_PVP }}
                </td>
                <td>
                    {{ resultado.article_line1 }}
                </td>
                <td>
                    {{ resultado.article_line2 }}
                </td>
                <td>
                    {{ resultado.article_line3 }}
                </td>
                <td>
                    {{ resultado.article_line4 }}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <h4>Buscador de artículos</h4>
        <div class="form-separator">
            <form class="form-id" action="{% url 'index' %}" method="get">
                <div class="idsearch">
                    <label for="id">Buscar por ID:</label><input type="text" name="id" value=""/>
                </div>
                <input class="send" type="submit" name="submit" value="Consultar">
            </form>
            <form class="form-description" action="{% url 'index' %}" method="get">
                <div class="descriptionsearch">
                    <label for="description">Buscar por descripción:</label><input type="text" name="description" value=""/>
                </div>
                <input class="send" type="submit" name="submit" value="Consultar">

            </form>
        </div>
    </body>
</html>
